node_modules
src
rollup.config.js
tsconfig.json
.gitignore
example
package
README.md
pnpm-workspace.yaml
pnpm-lock.yaml
ICON_METRIC.md
CONTRIBUTING.md
*.map
*.test.*
*.spec.*
*.stories.*
*.config.*
src/scripts/


